@charset "utf-16";

html{
  max-width: 100%;
  margin: 0 auto 0;
}
body {
  font-size: 32px;
  width: 100%;
  justify-content: center;
}
header {
  background-color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: beige;
  height: 100px;
  width: 100%;
  font-size: large;
}
main {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text{
  height: 300px;
  width: 70%;
  border: 1px solid;
  overflow: scroll;
}
#text2{
  height: 300px;
  width: 70%;
  border: 1px solid;
  overflow: scroll;
}
#output{
  height: 300px;
  width: 70%;
  border: 1px solid;
  overflow: scroll;
}
#output2{
  height: 300px;
  width: 70%;
  border: 1px solid;
  overflow: scroll;
}
#line{
  width: 80%;
}
footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: beige;
  height: 30px;
  vertical-align: middle;
}
button{
  height: 50px;
  width: 150px;
  font-size: large;
  font-weight: bold;
}